$section-base-color: #DDE6F5;
$section-border: 4px solid black;
$section-border-radius: 5px;
// $section-opacity: 0.8;
$section-opacity: 1;

$nav-bar-primary-background-color: #3c3b44;
$nav-bar-secondary-background-color: #7e7c88;
$nav-bar-icon-color: #3d3a5e;