<div class="adminNav">    
    <a href="/admin/home" class="adminNav__link">Home</a>
    <a href="/admin/create" class="adminNav__link">Create</a>
    <a href="/admin/delete" class="adminNav__link">Delete</a>
</div>