<nav class="nav nav-primary">
        <a href="#"><img src="SVGS/basic_home.svg" class="svg"></a>
        <a href="#"><img src="./SVGS/user.svg" class="svg"></a>
        <a href="#"><img src="SVGS/basic_message_multiple.svg" class="svg"></a>
        <a href="#"><img src="SVGS/basic_gear.svg" class="svg"></a>
    </nav><nav class="nav nav-secondary">
        <a href="#"><img src="SVGS/basic_calendar.svg" class="svg"></a>
        <a href="#"><img src="SVGS/lnr-menu.svg" class="svg"></a>
        <a href="#"><img src="SVGS/lnr-users.svg" class="svg"></a>
        <a href="#"><img src="SVGS/basic_calendar.svg" class="svg"></a>
        <a href="#"><img src="SVGS/ecommerce_graph2.svg" class="svg"></a>
    </nav>