<nav class="nav nav-primary">
    <a href="#"><img src="/images/SVGS/basic_home.svg" class="svg"></a>
    <a href="#"><img src="/images/SVGS/user.svg" class="svg"></a>
    <a href="#"><img src="/images/SVGS/basic_message_multiple.svg" class="svg"></a>
    <a href="#"><img src="/images/SVGS/basic_gear.svg" class="svg"></a>
</nav>