<nav class="nav nav-primary">
    <a href="http://localhost:3000/user/<%= userId %>/projects"><img src="/images/SVGS/basic_home.svg" class="svg"></a>
    <a href="http://localhost:3000/user/<%= userId %>/profile"><img src="/images/SVGS/user.svg" class="svg"></a>
    <a href="http://localhost:3000/messages/chat/<%= userId %>"><img src="/images/SVGS/basic_message_multiple.svg" class="svg"></a>
    <a href="http://localhost:3000/user/<%= userId %>/settings"><img src="/images/SVGS/basic_gear.svg" class="svg"></a>
</nav>