<nav class="nav nav-primary">
    <a href="#"><img src="SVGS/basic_home.svg" class="svg"></a>
    <a href="#"><img src="./SVGS/user.svg" class="svg"></a>
    <a href="#"><img src="SVGS/basic_message_multiple.svg" class="svg"></a>
    <a href="#"><img src="SVGS/basic_gear.svg" class="svg"></a>
</nav>