<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
    <title>MacroHard</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    
    
</head>

<body>
    
    <!-- nav that goes in every page -->
    
    <%- body %> 
</body>
</html>