<div class="wrap">
    <div class="keys">
        <div class="m_button_icon"> </div>
        <div class="h_button_icon"> </div>
    </div>
    <form class="login_form">
        <h1>Macro Hard</h1>
        <section>
            <input type="text" name="email" autocomplete="off" required>
            <label for="Email" class="label-email"><span class="content-email">Username/Email</span></label>
        </section>
        <section>
            <input type="password" name="password" autocomplete="off" required>
            <label for="Password" class="label-password"><span class="content-password">Password</span></label>
        </section>
        <div class="butt">
            <input class="login" type="submit" name="login" value="Login">
            <button onclick="location.href='recoverAccount.html'">Forgot Username/Password?</button>
            <button onclick="location.href='createAccount.html'">Create Your Account</button>
        </div>
    </form>
</div>
