<div class="wrap">
        <div class="keys">
            <div class="r_button_icon"> </div>
            <div class="a_button_icon"> </div>
        </div>
        <form class="recover_email_form">
            <h1>Recover Account</h1>
            <h3>Don't worry, happens to the best of us.</h3>
            <section>
                <input type="text" name="Email" autocomplete="off" required>
                <label for="Email" class="label-email"><span class="content-email">Username/Email</span></label>
            </section>
            <div class="butt">
                <button onclick="window.location.href='login.html'">Back</button>
                <input class="login" type="submit" name="recovery" value="Email me a recovery link" onclick="window.location.href='resetSent.html'">
            </div>
        </form>
    </div>
