

<div class="profile-background">
    <div class="container-profile">
        <div class="profile__header">
            <div class="header__img header-item"></div>
            <div class="header__name header-item">User Name</div>
            <a href="#" class="btn btn__large header__btn header-item">Edit Profile</a>
        </div>

        <div class="profile__content ">
            <div class="profile__content-overview profile-flex-item border">
                <div class="identifier">Overview</div>
                <div id="title">Title: Student</div>
                <div id="phone">Phone: (773) 916-0295</div>
                <div id="email">Email: user@email.com</div>
                <div id="location">Location: Chicago, IL</div>
            </div>

            <div class="profile__content-stats profile-flex-item border">
                <div class="identifier">Personal Statistics</div>
                <div id="stat1">Projects:  Value</div>
                <div id="stat2">Tasks: Value</div>
                <div id="stat3">AVG. Contribution: Value</div>
                <div id="stat4">Stat4:  Value</div>
                <div id="stat5">Stat5:  Value</div>
                
            </div>

            <div class="profile__content-badges profile-flex-item border">
                <div class="identifier">Badges</div>
                <div class="badge"></div>
                <div class="badge"></div>
                <div class="badge"></div>
                <div class="badge"></div>
                <div class="badge"></div>
                <div class="badge"></div>
                <div class="badge"></div>
                <div class="badge"></div>
                <div class="badge"></div>
                <div class="badge"></div>
                <div class="badge"></div>
            </div>


        </div>
        
    </div>
</div>