.btn__small {
  width: 4rem;
  padding: 1rem 1rem;
  background-color: gold;
  color: black;
  border: 2px solid black;
  border-radius: 10rem; }

.btn__medium {
  width: 18rem;
  padding: .5rem .5rem;
  background-color: gold;
  color: black;
  border: 2px solid black;
  border-radius: 2rem; }

.btn__large {
  width: 20rem;
  padding: 2rem 2rem;
  background-color: gold;
  color: black;
  border: 2px solid black;
  border-radius: 5rem; }

.btn__xlarge {
  width: 40rem;
  padding: .5rem 1rem;
  background-color: gold;
  color: black;
  border: 2px solid black;
  border-radius: 2rem; }

.btn:link, .btn:visited {
  text-transform: none;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.6rem;
  position: relative;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: all .2s; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); }
  .btn:hover::after {
    transform: scaleX(1.2) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btnText:link, .btnText:visited {
  color: black;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid black;
  padding: 3px;
  transition: all .2s; }

.btnText:hover {
  background-color: whitesmoke;
  color: black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btnText:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.nav {
  box-sizing: border-box;
  background-color: #eee;
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  border-right: 4px solid black;
  height: 100%;
  align-items: center; }

.nav-primary {
  width: 4%;
  top: 0;
  left: 0;
  background-color: #3c3b44; }
  .nav-primary .svg {
    margin-top: 5rem;
    margin-bottom: 5rem; }

.nav a {
  /*make links appear below eachother */
  text-decoration: none;
  align-self: center;
  flex-shrink: 1; }

.nav a:hover {
  /* dark grey on mouse-over */
  background-color: lightgray; }

.svg {
  width: 45px;
  height: 45px; }

.nav-secondary {
  width: 5%;
  top: 0;
  left: 4%;
  background-color: #7e7c88;
  justify-content: space-evenly; }

.tab-wrap {
  transition: 0.3s box-shadow ease;
  border-radius: 6px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  background-color: #fff;
  margin: 40px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .tab-wrap:hover {
    box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19); }

.tab {
  display: none; }
  .tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0; }
  .tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0; }
  .tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0; }
  .tab:checked:nth-of-type(4) ~ .tab__content:nth-of-type(4) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0; }
  .tab:checked:nth-of-type(5) ~ .tab__content:nth-of-type(5) {
    opacity: 1;
    transition: 0.5s opacity ease-in, 0.8s transform ease;
    position: relative;
    top: 0;
    z-index: 100;
    transform: translateY(0px);
    text-shadow: 0 0 0; }
  .tab:first-of-type:not(:last-of-type) + label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .tab:not(:first-of-type):not(:last-of-type) + label {
    border-radius: 0; }
  .tab:last-of-type:not(:first-of-type) + label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .tab:checked + label {
    background-color: #fff;
    box-shadow: 0 -1px 0 #fff inset;
    cursor: default;
    font-weight: bolder; }
    .tab:checked + label:hover {
      box-shadow: 0 -1px 0 #fff inset;
      background-color: #fff; }
  .tab + label {
    box-shadow: 0 -1px 0 #eee inset;
    border-radius: 6px 6px 0 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
    flex-grow: 3;
    text-align: center;
    background-color: #f2f2f2;
    user-select: none;
    text-align: center;
    transition: 0.3s background-color ease, 0.3s box-shadow ease;
    height: 60px;
    box-sizing: border-box;
    padding: 15px;
    font-size: 3rem; }
    .tab + label:hover {
      background-color: #f9f9f9;
      box-shadow: 0 1px 0 #f4f4f4 inset; }
  .tab__content {
    padding: 10px 25px;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0;
    left: 0;
    transform: translateY(-3px);
    border-radius: 6px; }

table {
  /* border-collapse: collapse; */
  border-collapse: separate;
  border-spacing: 0;
  margin: 0 auto;
  table-layout: fixed; }

caption {
  font-weight: bolder;
  text-decoration: underline;
  font-size: 4rem;
  margin-bottom: 1rem; }

th {
  text-align: center;
  height: 5rem; }

th:first-child {
  border-top-left-radius: 5px; }

th:last-child {
  border-top-right-radius: 5px; }

th,
td {
  padding: 10px 15px;
  vertical-align: middle;
  font-size: 2rem; }

thead {
  background: #395870;
  color: #fff;
  text-transform: uppercase; }

tbody tr:nth-child(even) {
  background: #f0f0f2; }

td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5; }

tr td {
  text-align: center;
  font-size: 3rem; }

td:first-child {
  border-left: 1px solid #cecfd5; }

[data-href] {
  cursor: pointer; }

tbody tr:hover,
tbody tr:focus-within {
  background: #f2f3ff;
  outline: none; }

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 800px;
  max-width: 80%; }
  .popup__header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #9faec9; }
    .popup__header-title {
      font-size: 3rem;
      font-weight: bold; }
    .popup__header-close-button {
      cursor: pointer;
      border: none;
      outline: none;
      background: none;
      font-size: 3rem;
      font-weight: bold; }
  .popup__body {
    padding: 10px 15px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #DDE6F5; }
  .popup.active {
    transform: translate(-50%, -50%) scale(1);
    z-index: 2000; }

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none; }

#overlay.active {
  opacity: 1;
  pointer-events: all;
  z-index: 1000; }

label, input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

input {
  border: 1px solid black;
  margin: 1rem 0;
  font-size: 2.4rem;
  width: 100%;
  min-height: 4rem;
  padding: 1rem; }

label {
  font-size: 2.5rem;
  margin: 1rem 0; }

textarea {
  padding: 1.5rem;
  font-size: 2.6rem;
  border: 1px solid black;
  margin: 1rem 0; }

select {
  border: 1px solid black;
  text-align: center;
  line-height: 24px;
  margin: 5px 0;
  font-size: 2.4rem; }

#submit {
  display: block;
  margin: 10px auto; }

.upload-forms {
  display: flex;
  flex-direction: column;
  align-items: center; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  min-height: 35rem;
  min-width: 30rem;
  display: inline-block;
  margin: 1.5rem; }
  .card__side {
    font-size: 2rem;
    min-height: 35rem;
    min-width: 30rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border: 2px solid black; }
    .card__side--front {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
    .card__side--back {
      transform: rotateY(180deg);
      background-color: #9faec9; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 15rem;
    width: 100%;
    background-blend-mode: screen;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-image: url("../images/projectIcons/projDefault.png");
    border-bottom: 2px solid black; }
  .card__heading {
    font-size: 2.25rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    color: black;
    width: 90%;
    margin-top: 1.5rem; }
  .card__details {
    margin-top: 2rem; }
    .card__details ul {
      list-style: none;
      width: 100%;
      margin: 0 auto;
      padding-inline-start: 0;
      padding-left: 0; }
      .card__details ul li {
        text-align: center;
        font-size: 2rem;
        padding: 1rem 0;
        text-transform: uppercase; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid gray; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__motivation {
    text-align: center;
    color: white;
    margin-bottom: 8rem; }

.groupCard {
  position: relative;
  display: inline-block;
  height: 45%;
  width: 320px;
  margin: 1rem; }
  .groupCard__img {
    background-size: cover;
    width: inherit;
    height: 45%;
    border-bottom: 1px solid black; }
  .groupCard__info {
    margin-top: -3px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 55%;
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    background-color: white;
    font-size: 3rem; }
    .groupCard__info--heading {
      border-bottom: 1.5px solid black;
      font-weight: bold;
      max-width: 80%;
      text-align: center; }
    .groupCard__info--btn {
      background-color: gold;
      margin-bottom: 20px;
      width: 75%;
      height: 3.5rem;
      font-size: 2rem;
      border: 2px solid black; }

a.groupCard__info--btn.btn.btn__medium {
  border: 2px solid black; }

.chatroom {
  margin: 3rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 80%;
  border: 2px solid black;
  height: 20rem; }
  .chatroom__header {
    width: 100%;
    height: 5rem;
    vertical-align: middle;
    border-bottom: 2px solid black;
    font-size: 3rem; }
  .chatroom__members {
    font-size: 2.2rem;
    height: 9rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid black; }
  .chatroom__btncontainer {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem; }

.msg-container {
  position: relative;
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0; }
  .msg-container::after {
    content: "";
    clear: both;
    display: table; }

.darker {
  border-color: #ccc;
  background-color: #ddd; }

.msg-container img {
  float: left;
  max-width: 9rem;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%; }

.msg-container img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0; }

.time-right {
  float: right;
  color: #aaa;
  margin-top: .5rem;
  position: absolute;
  bottom: 0;
  right: 1rem; }

.time-left {
  position: absolute;
  bottom: 0;
  float: left;
  color: #999; }

body {
  background-image: url("../images/background/background.jpg"); }

#statsPage__tab-wrap {
  background-color: #DDE6F5;
  border: 4px solid black;
  border-radius: 5px;
  opacity: 1;
  height: 100%; }

.stats-container {
  width: 85%;
  position: relative;
  left: 5%;
  top: 5%;
  margin: 0 auto;
  height: 85%; }

tr td {
  width: 50rem;
  height: 2rem; }

.stats-content {
  min-height: 800px;
  max-height: 925px;
  overflow: scroll; }

.top-line {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  position: absolute;
  top: 0;
  left: 5%;
  height: 8.5rem;
  border-bottom: solid 2px #0d141f;
  width: 100%;
  z-index: -1;
  color: black;
  background-color: #3d3a5e; }

body {
  background-image: url("../images/background/background.jpg"); }

.projects-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
  height: 80vh;
  position: absolute;
  left: 6%;
  top: 8%;
  border: 1px solid black;
  background-color: #9faec9;
  overflow-y: scroll;
  background-color: #DDE6F5;
  border: 4px solid black;
  border-radius: 5px;
  opacity: 1; }

#projects-page-title {
  font-size: 4rem;
  position: absolute;
  top: 3.5%;
  left: 14%;
  margin: 0 auto;
  color: gold; }

.add-proj-btn {
  position: absolute;
  top: 90%;
  left: 33%;
  width: 40%;
  font-size: 2.5rem; }

.profile-background {
  position: relative;
  top: 2%;
  left: 5%;
  width: 90%;
  height: 95vh;
  background-color: #DDE6F5;
  border: 4px solid black;
  border-radius: 5px;
  opacity: 1; }

.container-profile {
  position: relative;
  display: block;
  height: 100%; }

.profile__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 20%;
  border-bottom: 2px solid black;
  font-size: 5rem; }

.header-item {
  margin: 50px; }

.header__img {
  height: 150px;
  width: 150px;
  border-radius: 50%; }

.header__name {
  font-size: 5rem; }

.profile__content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: scroll;
  font-size: 3rem;
  height: 80%; }
  .profile__content-overview {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 25%;
    background-color: #DDE6F5;
    border: 4px solid black;
    border-radius: 5px;
    opacity: 1;
    overflow-x: scroll; }
  .profile__content-stats {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 25%;
    background-color: #DDE6F5;
    border: 4px solid black;
    border-radius: 5px;
    opacity: 1; }
  .profile__content-badges {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
    height: 80%;
    width: 40%;
    background-color: #DDE6F5;
    border: 4px solid black;
    border-radius: 5px;
    opacity: 0.8; }

.badge {
  margin: 10px;
  position: relative; }
  .badge__name {
    position: absolute;
    top: 0;
    left: 50%;
    border-bottom: 1px solid black;
    transform: translateX(-50%);
    font-size: 2rem;
    margin-bottom: 5px; }
  .badge__img {
    width: 7rem; }
  .badge__des {
    text-align: center;
    margin-top: 3.5rem;
    margin-bottom: 1rem; }
  .badge__count {
    margin-left: 1rem; }

.flexrow-badge {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 9rem;
  position: relative;
  font-size: 2.5rem;
  border-bottom: 1px solid black;
  margin: 2rem 0; }

.title {
  font-size: larger;
  border-bottom: 1px solid black;
  justify-self: flex-start;
  opacity: 1; }

.flexrow {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 90%;
  position: relative;
  font-size: 2.5rem;
  border-bottom: 1px solid black;
  margin-bottom: 2.5rem;
  opacity: 1; }
  .flexrow .identifier {
    display: inline-block;
    width: 35%; }
  .flexrow .value {
    display: inline-block;
    width: 65%; }
  .flexrow .value2 {
    display: inline-block;
    margin-left: 5rem;
    width: 65%; }

body {
  background-image: url("../images/background/background.jpg"); }

.groups-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 85%;
  height: 75vh;
  position: absolute;
  left: 12%;
  top: 8%;
  background-color: #DDE6F5;
  border: 4px solid black;
  border-radius: 5px;
  opacity: 1;
  overflow-y: scroll; }

#groups-page-title {
  font-size: 4rem;
  position: absolute;
  top: 4%;
  left: 14%;
  margin: 0 auto;
  color: gold; }

.add-group-btn {
  position: absolute;
  top: 90%;
  left: 35%;
  width: 40%;
  font-size: 2.5rem; }

.html_plus {
  margin-left: 2rem;
  font-size: 2.5rem; }

body {
  background-image: url("../images/background/background.jpg"); }

.section__table {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 12%;
  top: 8%;
  width: 85%;
  height: 75vh;
  background-color: #DDE6F5;
  border: 4px solid black;
  border-radius: 5px;
  opacity: 1; }
  .section__table-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #DDE6F5;
    margin: 0 auto;
    overflow-y: scroll;
    min-height: 99%;
    max-height: 99%; }
  .section__table-todo {
    margin-bottom: 25px; }

.member {
  display: inline-block;
  margin: 0 2.5rem; }
  .member-td {
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    height: 100%; }

#tasks-page-title {
  font-size: 4rem;
  position: absolute;
  top: 4%;
  left: 16%;
  color: gold; }

.add-task-btn {
  position: absolute;
  top: 90%;
  left: 35%;
  width: 40%;
  font-size: 2.5rem; }

.addRemoveSelfGroup {
  position: absolute;
  left: 17%;
  top: 92%; }

body {
  background-image: url("../images/background/background.jpg"); }

#members-page-title {
  font-size: 4rem;
  position: absolute;
  top: 10%;
  left: 16%;
  color: gold; }

#project-memberpage-count {
  font-size: 3.5rem;
  position: absolute;
  top: 10.5%;
  right: 10%;
  color: gold; }

#project-members-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 14%;
  top: 15%;
  width: 80%;
  height: 70%;
  background-color: #DDE6F5;
  border: 4px solid black;
  border-radius: 5px;
  opacity: 1;
  overflow-y: scroll;
  min-height: 70%;
  max-height: 70%;
  background-color: lightgrey; }

.memberRow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  overflow-x: scroll;
  border-bottom: 2px solid black;
  background-color: #dde6f5;
  min-height: 9.2rem;
  max-height: 10rem; }
  .memberRow > div {
    font-size: 2.5rem; }
  .memberRow--img {
    margin: 1rem 0;
    margin-left: 2rem; }
  .memberRow--name {
    text-align: center;
    min-width: 25%;
    max-width: 30%; }
  .memberRow--email {
    text-align: center;
    min-width: 25%;
    max-width: 30%; }
  .memberRow--type {
    text-align: center;
    min-width: 25%;
    max-width: 30%; }

.project-members-btn {
  width: 20%;
  font-size: 2.5rem;
  position: absolute;
  top: 90%;
  left: 35%; }

.taskPage {
  height: 100%;
  width: 100%;
  position: relative; }
  .taskPage__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 7%;
    background-color: #9faec9;
    border-bottom: 2px solid black; }
    .taskPage__header--backbtn {
      margin-left: .5rem; }
    .taskPage__header--name {
      font-size: 3.5rem;
      margin: 0 auto;
      font-weight: bold; }
    .taskPage__header--approved {
      font-size: 3.5rem;
      margin: 0 auto;
      font-weight: bold; }
    .taskPage__header--due {
      font-size: 3.5rem;
      margin: 0 auto;
      font-weight: bold; }
    .taskPage__header--grade {
      font-size: 3.5rem;
      font-weight: bold;
      margin: 0 auto; }
  .taskPage__updates {
    width: 100%;
    height: 50%;
    position: relative;
    display: inline-block;
    background-color: white;
    border: 2px solid black; }
    .taskPage__updates--container {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 2px solid black;
      max-height: 80%;
      min-height: 80%;
      overflow-y: scroll;
      background-color: #dde6f5; }
    .taskPage__updates--btncontainer {
      width: 100%;
      height: 20%;
      text-align: center;
      background-color: #9faec9; }
  .taskPage__submissions {
    width: 100%;
    height: 50%;
    position: relative;
    background-color: white;
    margin-top: 5rem;
    border: 2px solid black; }
    .taskPage__submissions--container {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 2px solid black;
      max-height: 80%;
      min-height: 80%;
      overflow-y: scroll;
      background-color: #dde6f5; }
    .taskPage__submissions--row {
      width: 90%;
      font-size: 2rem;
      height: fit-content;
      text-align: center;
      margin: 2rem 2rem;
      padding: .5rem 0;
      border: 1px solid black;
      background-color: white; }
    .taskPage__submissions--btncontainer {
      width: 100%;
      height: 20%;
      text-align: center;
      background-color: #9faec9; }
  .taskPage__taskInfo {
    width: 50%;
    position: relative;
    float: right;
    margin-right: 2rem;
    margin-top: 7rem;
    height: 74.3%;
    background-color: white;
    border: 2px solid black; }
    .taskPage__taskInfo--container {
      position: relative;
      width: 100%;
      height: 90%;
      word-spacing: 4px;
      max-height: 90%;
      min-height: 90%;
      overflow-y: scroll;
      font-size: 2rem;
      border-bottom: 2px solid black;
      background-color: #dde6f5; }
    .taskPage__taskInfo--btncontainer {
      width: 100%;
      height: 10%;
      text-align: center;
      font-size: 1.8rem;
      background-color: #9faec9; }
  .taskPage__footer {
    width: 100%;
    height: 7%;
    border-top: 2px solid black;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #9faec9; }

.update {
  width: 90%;
  border: 1px solid black;
  margin-bottom: 2rem;
  margin: 2rem;
  background-color: white; }
  .update__title {
    font-size: 2.25rem;
    position: relative;
    top: 5px;
    padding: 0 5px;
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-bottom: 1rem; }
  .update__content {
    font-size: 2rem;
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    padding: 0 5px; }
  .update__timeSent {
    font-size: 1.5rem;
    position: relative;
    color: darkgray;
    bottom: 2.5px;
    left: 2.5px; }

.footer-item {
  height: 80%;
  font-size: 2rem; }

#taskPage-updates-title {
  font-size: 3rem;
  position: absolute;
  top: -4rem;
  color: gold; }

#taskPage-submissions-title {
  font-size: 3rem;
  position: absolute;
  top: -4rem;
  color: gold; }

#taskPage-taskinfo-title {
  font-size: 3rem;
  position: absolute;
  top: -4rem;
  color: gold; }

#taskDescription {
  width: 95%; }

.header-divider {
  border-right: 1px solid black;
  height: 100%; }

.taskBtn-container {
  display: inline-flex;
  justify-content: center;
  align-items: center; }

#taskPageLeft {
  height: 70%;
  width: 45%;
  display: inline-block;
  margin-left: 3.5rem;
  margin-top: 7rem; }

#taskDescription {
  margin: 1rem;
  font-size: 2.5rem; }

.review {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

body {
  background-image: url("../images/background/background.jpg"); }

.projPage {
  position: relative;
  left: 9%;
  top: 0;
  width: 91%;
  height: 100%; }
  .projPage__details {
    position: relative;
    top: 5rem;
    background-color: white;
    width: 90%;
    height: 55%;
    margin: 0 auto;
    border: 2px solid black;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background-color: #dde6f5; }
    .projPage__details--content {
      position: relative;
      top: 1.5rem;
      width: 90%;
      height: 100%;
      font-size: 2rem;
      margin: 0 auto; }
  .projPage__stats {
    position: absolute;
    left: 5%;
    width: 42%;
    height: 27%;
    background-color: white;
    border: 2px solid black;
    display: inline-flex;
    flex-direction: column;
    background-color: #dde6f5; }
    .projPage__stats--row {
      width: 100%;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #dde6f5; }
      .projPage__stats--row-title {
        font-size: 2.5rem;
        font-weight: bold;
        display: inline-block; }
      .projPage__stats--row-value {
        font-size: 2rem;
        display: inline-block;
        margin-left: 1.5rem; }
  .projPage__files {
    position: absolute;
    right: 5%;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    width: 42%;
    height: 27%;
    overflow-y: scroll;
    background-color: #dde6f5; }
    .projPage__files--row {
      width: 90%;
      font-size: 2rem;
      height: fit-content;
      text-align: center;
      margin: 2rem 2rem;
      padding: .5rem 0;
      border: 1px solid black;
      background-color: white; }

.proj-page-identifier {
  position: relative;
  margin: 1rem auto;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: underline; }

#addProjFileBtn {
  bottom: 2rem;
  right: 7rem;
  width: 42%; }

#editProjBtn {
  bottom: 2rem;
  left: 4.5%;
  width: 42%; }

.project-details-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  margin-top: 3.5%; }

.chatroom-page {
  position: relative;
  top: 3%;
  left: 6%;
  width: 90%;
  height: 80vh;
  background-color: #DDE6F5;
  border: 4px solid black;
  border-radius: 5px;
  opacity: 1;
  overflow-y: scroll; }

#chatroom-page-title {
  display: inline-block;
  font-size: 5rem;
  color: gold;
  position: relative;
  left: 44%;
  top: 3%; }

#createChatBtn {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%); }

.room-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#chat-header {
  width: 100%;
  height: 7%;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: #9faec9;
  border-bottom: 2px solid black; }

#backbtn {
  position: absolute;
  top: 5px;
  left: 5px; }

.chatPage {
  position: relative;
  width: 80%;
  margin: 0 auto;
  top: 5%;
  height: 75%;
  overflow-y: scroll;
  background-color: #dde6f5;
  background-color: #DDE6F5;
  border: 4px solid black;
  border-radius: 5px;
  opacity: 1; }
  .chatPage__form {
    width: 100%;
    height: 15%; }

.chatFormDiv {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 10%;
  margin: 0 auto;
  top: 6%;
  background-color: #DDE6F5;
  border: 4px solid black;
  border-radius: 5px;
  opacity: 1; }
  .chatFormDiv--form {
    background: #fff;
    bottom: 0%;
    width: 99%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .chatFormDiv--input {
    width: 87%;
    height: 87%;
    display: inline-block; }
  .chatFormDiv--btn {
    width: 8%;
    height: 80%;
    border: none;
    background-color: gold;
    margin-left: 2%; }

.key_icons {
  display: flex;
  opacity: 1; }

.key_icons div {
  display: flex;
  width: 100px;
  height: 100px;
  margin-bottom: 20px; }

.m_button_icon {
  background: url("/images/keys/M.png") no-repeat; }

.h_button_icon {
  background: url("/images/keys/H.png") no-repeat; }

.c_button_icon {
  background: url("/images/keys/C.png") no-repeat; }

.a_button_icon {
  background: url("/images/keys/A.png") no-repeat; }

.r_button_icon {
  background: url("/images/keys/R.png") no-repeat; }

.m_button_icon:active {
  background: url("/images/keys/M2.png") no-repeat; }

.h_button_icon:active {
  background: url("/images/keys/H2.png") no-repeat; }

.c_button_icon:active {
  background: url("/images/keys/C2.png") no-repeat; }

.a_button_icon:active {
  background: url("/images/keys/A2.png") no-repeat; }

.r_button_icon:active {
  background: url("/images/keys/R2.png") no-repeat; }

.login_container {
  margin: auto;
  margin-top: 15%;
  border-radius: 5px;
  border: 4px solid black;
  height: 450px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  background-color: #DDE6F5;
  padding: 20px;
  min-width: 400px;
  max-width: 600px;
  opacity: 0.8; }

.create_account_container {
  margin: auto;
  margin-top: 10%;
  border-radius: 5px;
  border: 4px solid black;
  height: 650px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  background-color: #DDE6F5;
  padding: 20px;
  min-width: 400px;
  max-width: 600px;
  opacity: 0.8; }

.login_input_section {
  width: 80%;
  position: relative;
  height: 100px;
  margin: auto;
  font-weight: 600; }
  .login_input_section .login_input {
    width: 100%;
    height: 50%;
    padding-top: 20px;
    border: none;
    border-radius: 5px;
    background: #88A6C2;
    font-size: 16px; }
  .login_input_section .label-email, .login_input_section .label-password, .login_input_section .label-name {
    position: absolute;
    bottom: 0px;
    left: 2px;
    top: 2px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: 5px; }

.recover-page-title, .login-page-title, .create-account-page-title {
  text-align: center;
  font-family: 'Orb', sans-serif;
  font-size: 33px; }

.recover-page-statement {
  margin-top: 15px;
  text-align: center; }

.login_form_container {
  min-width: inherit;
  opacity: 1;
  display: flex;
  flex-direction: column; }

.create_account_form_container {
  min-width: inherit;
  opacity: 1;
  display: flex;
  flex-direction: column; }

.login_button_container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto; }
  .login_button_container .login_button {
    background: #222034;
    color: #b2acb4;
    box-shadow: 0 1px 0 #333333;
    border-radius: 5px;
    height: 3em;
    align-self: center;
    text-align: center;
    width: 35%; }

.user_type_selection_options {
  width: 101%;
  height: 95%;
  padding-top: 20px;
  border: none;
  border-radius: 5px;
  background: #88A6C2;
  font-size: 16px; }

.content-email, .content-password, .content-name, .content-confirm-password, .content-email {
  font-size: 15px;
  position: absolute;
  bottom: 0px;
  left: 4px;
  top: 10px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: 5px; }

.settingsPage {
  position: relative;
  top: 3%;
  left: 6%;
  width: 90%;
  height: 80vh;
  background-color: #DDE6F5;
  border: 4px solid black;
  border-radius: 5px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#settings-page-title {
  display: inline-block;
  font-size: 5rem;
  color: gold;
  position: relative;
  left: 44%;
  top: 3%; }

.adminNav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 3px solid black;
  background-color: #3d3a5e; }
  .adminNav__link {
    font-size: 4.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none; }
    .adminNav__link:hover {
      transform: translateY(-5px); }
    .adminNav__link:active {
      background-color: transparent;
      transform: translateY(10px); }

.adminHome {
  position: relative;
  margin: 5rem auto;
  width: 100%;
  height: 80%; }
  .adminHome__stats {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 5rem 0; }
    .adminHome__stats--row {
      position: relative;
      width: 50%;
      height: 15%;
      border: 2px solid black;
      background-color: #dde6f5;
      margin: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .adminHome__stats--row-title {
        font-size: 3.5rem;
        font-weight: bold;
        margin-left: 10%; }
      .adminHome__stats--row-value {
        font-size: 3.5rem;
        margin-right: 10%; }
  .adminHome .admin-section-title {
    color: gold;
    font-size: 5rem;
    font-weight: bold;
    margin: 1rem 2rem; }

.adminCreate {
  position: relative;
  margin: 5rem auto;
  width: 100%;
  height: 80%; }
  .adminCreate__content {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 5rem 0; }
    .adminCreate__content--msg {
      width: 50%;
      height: 40%;
      border: 2px solid black;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-color: #dde6f5;
      background-color: #DDE6F5;
      border: 4px solid black;
      border-radius: 5px;
      opacity: 1; }

.msg-row {
  width: 90%;
  padding: 1rem;
  border: 1px solid black;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.deletePage {
  width: 80%;
  margin: 0 auto;
  height: 80%;
  margin-top: 8rem; }

html,
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

*, *::after, *::before {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box; }

body {
  position: relative;
  font-family: sans-serif; }
