@import "../abstracts/variables";

.nav {
    box-sizing: border-box;
    background-color: #eee; 
    display: inline-flex;
    flex-direction: column;
    // position: fixed;
    position: absolute;
    top: 0;
    border-right: $section-border;
    height: 100%;
    align-items: center;
    // justify-content: space-evenly;
    
}


.nav-primary {
    width: 4%;
    top:0;
    left: 0;
    background-color: $nav-bar-primary-background-color;

    & .svg {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}

.nav a {
 /*make links appear below eachother */
    text-decoration: none;
    align-self: center;
    flex-shrink: 1;
}


.nav a:hover {
    /* dark grey on mouse-over */
    background-color: lightgray;     
}

.svg {
    width: 45px;
    height: 45px;
}

.nav-secondary {
    width: 5%; 
    top: 0;
    left: 4%;
    background-color: $nav-bar-secondary-background-color;
    justify-content: space-evenly;
}