.key_icons {
    display: flex;
    opacity: 1;
}

.key_icons div {
    display: flex;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.m_button_icon {
    background: url("/images/keys/M.png") no-repeat;
}

.h_button_icon {
    background: url("/images/keys/H.png") no-repeat;
}

.c_button_icon {
    background: url("/images/keys/C.png") no-repeat;
}

.a_button_icon {
    background: url("/images/keys/A.png") no-repeat;
}

.r_button_icon {
    background: url("/images/keys/R.png") no-repeat;
}

.m_button_icon:active {
    background: url("/images/keys/M2.png") no-repeat;
}

.h_button_icon:active {
    background: url("/images/keys/H2.png") no-repeat;
}

.c_button_icon:active {
    background: url("/images/keys/C2.png") no-repeat;
}

.a_button_icon:active {
    background: url("/images/keys/A2.png") no-repeat;
}

.r_button_icon:active {
    background: url("/images/keys/R2.png") no-repeat;
}

.login_container {
    margin: auto;
    margin-top: 15%;
    border-radius: 5px;
    border: 4px solid black;
    height: 450px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    background-color: #DDE6F5;
    padding: 20px;
    min-width: 400px;
    max-width: 600px;
    opacity: 0.8;
}

.create_account_container {
    margin: auto;
    margin-top: 10%;
    border-radius: 5px;
    border: 4px solid black;
    height: 650px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    background-color: #DDE6F5;
    padding: 20px;
    min-width: 400px;
    max-width: 600px;
    opacity: 0.8;
}

.login_input_section {
    width: 80%;
    position: relative;
    height: 100px;
    margin: auto;
    // margin-top: 20px;
    // margin-bottom: 20px;
    // font-family: 'Orb', sans-serif;
    font-weight: 600;

    .login_input {
        width: 100%;
        height: 50%;
        padding-top: 20px;
        border: none;
        border-radius: 5px;
        background: #88A6C2;
        font-size: 16px;
    }

    // button {
    //     width: 100%;
    //     height: 50%;
    //     padding-top: 20px;
    //     border: none;
    //     border-radius: 5px;
    //     background: #88A6C2;
    //     font-size: 16px;
    // }

    .label-email, .label-password, .label-name {
        position: absolute;
        bottom: 0px;
        left: 2px;
        top: 2px;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-radius: 5px;
    }

}

.recover-page-title, .login-page-title, .create-account-page-title {
    text-align: center;
    font-family: 'Orb', sans-serif;
    font-size: 33px;
}

.recover-page-statement {
    margin-top: 15px;
    text-align: center;
}




.login_form_container {
    min-width: inherit;
    opacity: 1;
    display: flex;
    flex-direction: column;
}

.create_account_form_container {
    min-width: inherit;
    opacity: 1;
    display: flex;
    flex-direction: column;
}






.login_button_container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;

    .login_button {
        background: #222034;
        color: #b2acb4;
        box-shadow: 0 1px 0 #333333;
        border-radius: 5px;
        height: 3em;
        align-self: center;
        text-align: center;
        width: 35%;
    }

    // .login_button_input {
    //     background: #222034;
    //     color: #b2acb4;
    //     box-shadow: 0 1px 0 #333333;
    //     border-radius: 5px;
    // }
}

.user_type_selection_options{
    width: 101%;
    height: 95%;
    padding-top: 20px;
    border: none;
    border-radius: 5px;
    background: #88A6C2;
    font-size: 16px;
}

.content-email, .content-password ,  .content-name,  .content-confirm-password,  .content-email {
    font-size: 15px;
    // font-size: 2rem;
    position: absolute;
    bottom: 0px;
    left: 4px;
    top: 10px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: 5px;
}