@import "./globalStylesPage";

.projects-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    height: 80vh;
    position: absolute;
    left: 6%;
    top: 8%;
    border: 1px solid black;
    background-color:  #9faec9;
    overflow-y: scroll;
    @include boxStyle;

}

#projects-page-title {
    
    font-size: 4rem;
    position: absolute;
    top: 3.5%;
    left: 14%;
    margin: 0 auto;
    // color: #9faec9;
    color: gold;
    
}

.add-proj-btn {
    position: absolute;
    top: 90%;
    left: 33%;
    width: 40%;
    font-size: 2.5rem;
}
