.taskPage {
    height: 100%;
    width: 100%;
    position: relative;    
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 7%;
        background-color: #9faec9;

        border-bottom: 2px solid black;

        &--backbtn {
            margin-left: .5rem;
        }

        &--name {
            font-size: 3.5rem;
            margin: 0 auto;
            font-weight: bold;
            
        }

        &--approved {
            font-size: 3.5rem;

            margin: 0 auto;
            font-weight: bold;
        }

        &--due {
            font-size: 3.5rem;

            margin: 0 auto;
            font-weight: bold;
        }

        &--grade {
            font-size: 3.5rem;
            font-weight: bold;
            margin: 0 auto;
            
        }

    }

    &__updates {
        
        width: 100%;
        height: 50%;
        position: relative;
        display: inline-block;

        background-color: white;
        

        border: 2px solid black;
        
        &--container {

            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            border-bottom: 2px solid black;

            max-height: 80%;
            min-height: 80%;
            overflow-y: scroll;
            background-color: #dde6f5;

            
        }

        &--btncontainer {
            width: 100%;
            height: 20%;
            text-align: center;
            background-color: #9faec9;
        }

    }

    &__submissions {
        width: 100%;
        height: 50%;
        position: relative;
        background-color: white;
        
        margin-top: 5rem;
        // margin-left: 4rem;
        

        border: 2px solid black;

        &--container {
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            border-bottom: 2px solid black;

            max-height: 80%;
            min-height: 80%;
            overflow-y: scroll;
            background-color: #dde6f5;
        }

        &--row {
            width: 90%;
            font-size: 2rem;
            height: fit-content;
            text-align: center;
            margin: 2rem 2rem;
            padding: .5rem 0;
            border: 1px solid black;
            background-color: white;

        
        }

        &--btncontainer {
            width: 100%;
            height: 20%;
            text-align: center;
            background-color: #9faec9;
        }

    }

    &__taskInfo {
        width: 50%;
        // height: 74.2%;
        position: relative;
        // top: 15.3rem;
        // right: 2rem;
        float: right;
        margin-right: 2rem;
        margin-top: 7rem;
        height: 74.3%;
        
        background-color: white;
        border: 2px solid black;

        &--container {
            position: relative;
            width: 100%;
            height: 90%;
            word-spacing: 4px;

            max-height: 90%;
            min-height: 90%;
            overflow-y: scroll;
            font-size: 2rem;

            border-bottom: 2px solid black;
            background-color: #dde6f5;
        }

        &--btncontainer {
            
            width: 100%;
            height: 10%;
            text-align: center;
            font-size: 1.8rem;
            background-color: #9faec9;

        }

    }


    &__footer {
        width: 100%;
        height: 7%;
        border-top: 2px solid black;
        position: absolute;
        bottom: 0;
        left: 0;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #9faec9;
    }
    

}

.update {
    width: 90%;
    border: 1px solid black;
    margin-bottom: 2rem;
    margin: 2rem;
    background-color: white;
    
    &__title {
        font-size: 2.25rem;
        position: relative;
        top: 5px;
        padding: 0 5px;
        font-weight: bold;
        border-bottom: 1px solid black;
        margin-bottom: 1rem;
    }

    &__content {
        font-size: 2rem;
        position: relative;
        // left: 2.5px;
        width: 100%;
        
        
        margin-bottom: 2rem;
        padding: 0 5px;
        
    }

    &__timeSent {
        font-size: 1.5rem;
        position: relative;
        color: darkgray;
        bottom: 2.5px;
        left: 2.5px;
        
        

    }

}

.footer-item {
    height: 80%;
    font-size: 2rem;
}


#taskPage-updates-title {
    font-size: 3rem;
    position: absolute;
    top: -4rem;
    color: gold;
}

#taskPage-submissions-title {
    font-size: 3rem;
    position: absolute;
    top: -4rem;
    color: gold;
}

#taskPage-taskinfo-title {
    font-size: 3rem;
    position: absolute;
    top: -4rem;
    color: gold;
}

#taskDescription {
    width: 95%;
    

}

.header-divider {
    border-right: 1px solid black;
    height: 100%;
}

.taskBtn-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#taskPageLeft {
    height: 70%;
    width: 45%;
    display: inline-block;
    margin-left: 3.5rem;
    margin-top: 7rem;
}

#taskDescription {
    margin: 1rem;
    font-size: 2.5rem;
}

.review {

    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}